%h1= t('index.designations')

= link_to new_designation_path, class: 'btn btn-sm btn-primary' do
  %span.glyphicon.glyphicon-plus
  = t('.new')

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= Designation.human_attribute_name('person_id')
      %th= Designation.human_attribute_name('title_id')
      %th= Designation.human_attribute_name('start_date')
      %th= Designation.human_attribute_name('end_date')
      %th= t('general.actions')

  %tbody
    - @designations.each do |designation|
      %tr
        %td= designation.person_full_name
        %td= designation.title_name
        %td= designation.start_date
        %td= designation.end_date.present? ? designation.end_date : t('general.undefined')
        %td
          = link_to t('general.show'), designation
          = link_to t('general.edit'), edit_designation_path(designation)
          = link_to t('general.destroy'), designation, :method => :delete, :data => { :confirm => t('general.are_you_sure') }
