%p
  %b #{Designation.human_attribute_name('person_id')}:
  = @designation.person_full_name
%p
  %b #{Designation.human_attribute_name('title_id')}:
  = @designation.title_name
%p
  %b #{Designation.human_attribute_name('start_date')}:
  = @designation.start_date
%p
  %b #{Designation.human_attribute_name('end_date')}:
  = @designation.end_date.present? ? @designation.end_date : t('general.undefined')

= link_to t('general.edit'), edit_designation_path(@designation)
\|
= link_to t('general.back'), designations_path
